svg#freepik_stories-hand-coding:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elwjb7mhpw4n {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-hand-coding.animated #elceiaciv3tkr {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.05555555555555555s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elbf6nv2892f7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.1111111111111111s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eldyj3e697rf9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.16666666666666666s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elcg0yz5o5n9e {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.2222222222222222s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el7lftaydqwna {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.2777777777777778s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eldzpzik147u7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3333333333333333s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eludeik6cbt3b {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.38888888888888884s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el8kvklzuvku3 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.4444444444444444s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elaoyx5q1wc35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el0j96jxyzas5j {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5555555555555556s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eloluhbma9pw {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.611111111111111s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elsitgrde464c {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6666666666666666s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elwc1vm20pqoi {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7222222222222222s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el3tu7bnmm6f7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7777777777777777s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elcvfyk2hf9v9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8333333333333333s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el8f1l2bkxr7s {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8888888888888888s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elrsiqf2ncrab {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9444444444444444s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #freepik--program-icons--inject-23 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-hand-coding.animated #el3wo17gcyc0o {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-hand-coding.animated #el8nl5yv5yj7j {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.06190476190476191s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elfr9qnv4wmsv {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.12380952380952381s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elamsh532gifm {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.18571428571428572s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elu9hoboxkuls {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.24761904761904763s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elz56ly88qk4a {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.30952380952380953s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el402fa1w86z2 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.37142857142857144s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el70ct1hn6cgn {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.43333333333333335s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elbpyrhxwbm6 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.49523809523809526s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elq03y43vfg9 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.5571428571428572s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elic6fa5p9dzq {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.6190476190476191s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el2s8axx5cf0j {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.680952380952381s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elt5k08mk524q {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.7428571428571429s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #ely5vk6jspoib {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.8047619047619048s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el1o0fri7douw {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.8666666666666667s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el174wn4ie6pb {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.9285714285714286s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el6rgawh0n95l {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0.9904761904761905s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eljlxbg70ltvd {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.0523809523809524s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elsou4sy63y2d {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.1142857142857143s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elczn16ly5lk {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.1761904761904762s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el0lqgt3rqme2c {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.2380952380952381s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #ell3idg89dot {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.3s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eljz2e1c6w0zg {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.361904761904762s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el677q4ba3qs6 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.4238095238095239s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elqtwppvhz0ae {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.4857142857142858s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elhxyisv9qdo7 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.5476190476190477s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eld7jo8py9xfn {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.6095238095238096s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elb8iyldk6po7 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.6714285714285715s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elux5hc5kqyo {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.7333333333333334s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el4qkorva5l89 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.7952380952380953s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el3ktyi7q19g8 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.8571428571428572s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elq7vx0a9gvso {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.9190476190476191s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elrsv7vjl20s {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 1.980952380952381s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elpeksrqwu8wp {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.0428571428571427s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eltdp03bg975 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.104761904761905s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elye1mrkr5bqm {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.166666666666667s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #eljtk7d4aiqd {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.2285714285714286s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elqw8tbe8n45g {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.2904761904761903s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el9fn30q7xoej {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.3523809523809525s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elfiblco4hkyi {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.4142857142857146s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el0d7psvo80t8q {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.4761904761904763s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elaypszt4n3z {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 2.538095238095238s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #freepik--Tabs--inject-23 {
  animation: 2.6s 1 forwards ease-in fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-hand-coding.animated #freepik--Character--inject-23 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
