svg#freepik_stories-innovation:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el857f0ay8r9 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el2h31a66s7jg {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.0396551724137931s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elemz9cn2eczp {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.0793103448275862s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elnn9ja596xl {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.1189655172413793s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elyg198h6v93 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.1586206896551724s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elfis1mf56omp {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.1982758620689655s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el0afy6mija6vf {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.2379310344827586s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elukcyywevf5 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.27758620689655167s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elkxgj7qnmi1b {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3172413793103448s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el6gic52jgiln {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3568965517241379s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elowefatqgxp {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.396551724137931s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elo859og72aw {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.43620689655172407s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eli1ruwylx9a9 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.4758620689655172s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eloeumjirfslp {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5155172413793103s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elycjrgvedgtq {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5551724137931033s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el5r0ui0u3cbo {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5948275862068965s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eler0ec1v1c1 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6344827586206896s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el8ybqgas0t8p {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6741379310344827s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elox9absfcgkm {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7137931034482758s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elde11k4qxl9p {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7534482758620689s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elypdvhbz1jof {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.793103448275862s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elo2bpj8o6d7b {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8327586206896551s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elbbilaeh29it {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8724137931034481s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elcycbzvybrn7 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9120689655172413s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elp58dyc17pfo {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9517241379310344s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eldax6la94cp6 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9913793103448275s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elynbf2504d1n {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.0310344827586206s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elx5mk0dfci38 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.0706896551724137s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elpsz3n469ukm {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.1103448275862067s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elelbxjdq5pyg {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.15s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elkqm3ss4kkhb {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.189655172413793s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elpji3bas42d {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.2293103448275862s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elv6iaec4d1lr {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.2689655172413792s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el22ca5rt56s2 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.3086206896551722s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elcdxntn2mjq7 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.3482758620689654s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el9qtupz961kv {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.3879310344827585s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elfmozkny91ag {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.4275862068965517s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el4dx11jl24oo {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.4672413793103447s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elrl3z75en05k {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.5068965517241377s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elu5k0l9i5j5 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.546551724137931s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el13xdigv462pi {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.586206896551724s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elx5fq4j8n8l {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.625862068965517s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elu1m0gtv6zy {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.6655172413793102s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el8vbnd58tzp6 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.7051724137931032s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eluk2o1t0tlbc {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.7448275862068963s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elxni8atb8bb {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.7844827586206895s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el31otrijted7 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.8241379310344825s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eldp3a34guvno {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.8637931034482758s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elwsmuw2snaea {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.9034482758620688s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elzonji92fn3 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.9431034482758618s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el0imq1vexdmkd {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.982758620689655s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eljs5j2byo80g {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 2.022413793103448s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elj06rpbonc {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 2.0620689655172413s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elx2et8exfxsq {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 2.101724137931034s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elmgyhgtivx6 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 2.1413793103448273s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el5cprk9h7cj4 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 2.1810344827586206s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elfrdmwt34cqt {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 2.2206896551724133s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el5km74vz5i9r {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 2.2603448275862066s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated
  #freepik--background-complete--inject-23 {
  animation: 2.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el57ea6nj7d9k {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-innovation.animated #elkuuo50j053g {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.07692307692307693s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elhlk4unbye5i {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.15384615384615385s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eljxvfm43iu1 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.23076923076923078s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #ely57i653dav {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3076923076923077s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elmqlhc8ov1w {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.38461538461538464s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el8ti6e3pkaep {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.46153846153846156s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elelh4hw8wkw {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5384615384615385s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elkiknju00pw {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6153846153846154s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el8663yeo58h9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6923076923076923s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eliclx9hbejer {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7692307692307693s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el8f0cf55118m {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8461538461538463s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el2lom9v6htc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9230769230769231s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #freepik--Sparkles--inject-23 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-innovation.animated #el22hwp0ke44j {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1.5s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elusr15kx72bk {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.047619047619047616s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el7uy565219wj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.09523809523809523s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el30sfez2tajr {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.14285714285714285s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el4kghlfelwdb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.19047619047619047s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elbj2z7tde83a {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.23809523809523808s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elrlxxte2cuyj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.2857142857142857s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el5z92e0996v {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.3333333333333333s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elpabledfvg9m {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.38095238095238093s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eli6yzvjtosz9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.42857142857142855s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elcdl8exeog7q {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.47619047619047616s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el4tqir2qh92q {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5238095238095237s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elh4y40g74jnj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5714285714285714s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el680oy5rkjj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6190476190476191s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #ele7i6x43oe6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.6666666666666666s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el2jjmgpekv5s {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7142857142857142s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #ele4t8es7440q {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.7619047619047619s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elurj0u94hgdf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8095238095238095s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #eld3ko39vumiu {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.8571428571428571s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #elwj35vyrtdgl {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9047619047619047s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #el6cy3rz2fuh8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.9523809523809523s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #freepik--Robot--inject-23 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn,
    6s Infinite linear floating;
  animation-delay: 1.5s, 2.5s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #freepik--Rocket--inject-23 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn,
    3s Infinite linear wind;
  animation-delay: 2s, 4.5s;
  opacity: 0;
}
svg#freepik_stories-innovation.animated #freepik--Character--inject-23 {
  animation: 0.7s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
